{% extends "moneyapp/base.html" %}

{% block content %}

<div class="container">
    <p>
        Transaction imports are always idempotent. Existing transactions will not be overwritten, updated or duplicated.
    </p>

    <form action="{% url 'transactions:import' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <label for="file">File:</label>
            <input class="form-control" type="file" name="file" id="file">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Import</button>
        </div>
    </form>
</div>

{% endblock %}