{% extends "moneyapp/base.html" %}


{% block content %}

<div class="container">


{% if transactions %}
    <div class="row">
        <div class="col col-xs-12 col-md-6">
            <table class="table">
                <tr>
                    <td></td>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <th>Net</th>
                    <td>$ {{ credit_stats.total|floatformat:2 }}</td>
                    <td>$ {{ debit_stats.total|floatformat:2 }}</td>
                    <td>$ {{ transactions_total|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th>Average</th>
                    <td>$ {{ credit_stats.mean|floatformat:2 }}</td>
                    <td>$ {{ debit_stats.mean|floatformat:2 }}</td>
                    <td>$ {{ transactions_mean|floatformat:2 }}</td>
                </tr>
                <tr>
                    <th>Count</th>
                    <td>{{ credit_stats.count }}</td>
                    <td>{{ debit_stats.count }}</td>
                    <td>{{ transactions_count }}</td>
                </tr>
            </table>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Account</th>
            <th>Amount</th>
            <th>Name/Payee</th>
            <th>Memo</th>
        </tr>
        </thead>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date|date:"Y-m-d" }}</td>
            <td><a href="{% url 'transactions:index' %}?account={{transaction.account.id|urlencode}}">{{ transaction.account.name }}</a></td>
            <td style="text-align: right;">{{ transaction.amount|floatformat:2 }}</td>
            <td><a href="{% url 'transactions:index' %}?payee={{transaction.payee|urlencode}}">{{ transaction.payee }}</a></td>
            <td>{{ transaction.memo }}</td>
            <!-- <td><a href="{% url 'transactions:index' %}?payee={{transaction.payee|urlencode}}">{{ transaction.transaction_type }}</a></td> -->
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p style="text-align: center;">You don't have any transactions yet.</p>
    <a style="text-align: center;" class="btn btn-success" href="{% url 'transactions:import' %}">Import</a>
{% endif %}

</div>

{% endblock %}