{% extends "moneyapp/base.html" %}

{% block content %}

<div class="container">
    <h1>Accounts</h1>
    <div class="row">
    {% if bank_accounts %}
        {% for account in bank_accounts %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'transactions:index' %}?account={{account.id|urlencode}}"><p class="card-text">{{ account.name }}</p></a>
                    <span class="card-text">{{ account.description }}</span>
                    <a href="{% url 'transactions:index' %}?account={{account.id|urlencode}}"><span>View Transactions</span></a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="col">
            No accounts yet.
        </div>
    {% endif %}
    </div>

</div>

{% endblock %}