terraform.tfvars
venv/
.ruff_cache/
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
*.ofx
*.sqlite3
__pycache__/
.env
opentelemetry.config.yaml
otel-collector-config.yaml
exports/
Export*.ofx
Export*.csv

script.py
.env
.vscode/

qwe