version: '3.11'

services:
  app:
    build: .
    ports:
      - 8000:8000
    environment:
      # Required to make opentelemety-instrumentation pick up the setting file correctly.
      DJANGO_SETTINGS_MODULE: moneyapp.settings
      DB_ENGINE: mysql
      DB_DATABASE: moneyapp
      DB_USERNAME: user
      DB_PASSWORD: password
      DB_PORT: 3306
      DB_HOST: db
    volumes:
      - ./app:/app
      - ./entrypoint.sh:/entrypoint.sh
    depends_on:
      - db

  db:
    image: mysql:latest
    environment:
      MYSQL_DATABASE: moneyapp
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_RANDOM_ROOT_PASSWORD: '1'

  otel-collector:
    image: otel/opentelemetry-collector:0.86.0
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml:ro
    command: ["--config=/etc/otel-collector-config.yaml"]

  jaeger:
    image: jaegertracing/all-in-one:1.49
    ports:
      - "16686:16686"

volumes:
  db: {}