{% extends "moneyapp/base.html" %}


{% block content %}

<div class="container">

    <h1>Recurring Expenses</h1>

    {% if not recurring_expenses %}
    <div class="col-md-12 text-center">
        <p style="text-align: center;">Add some recurring expenses to get started</p>
        <a href="{% url 'recurring_expenses:new' %}" class="btn btn-success">Add New</a>
    </div>
    {% else %}

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <a href="{% url 'recurring_expenses:new' %}" class="btn btn-success">Add New</a>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Export
            </button>
            <ul class="dropdown-menu">
                {% for format in export_formats %}
                <li>
                    <a class="dropdown-item" href="{% url 'recurring_expenses:export' format%}">{{format.upper}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br><b>Totals (Active)</b> = <b>Daily:</b> $ {{ total_daily|floatformat:2 }}
    <b>Monthly</b> $ {{ total_monthly|floatformat:2 }}
    <b>Yearly</b> $ {{ total_yearly|floatformat:2 }}

    <table class="table">
        <tr>
            <!-- <th>Active</th> -->
            <th>Particulars</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>NZD / Month</th>
            <th>NZD / Year</th>
            <th>Period (Months)</th>
            <th></th>
            <th></th>
        </tr>
        {% for expense in recurring_expenses %}
        {% if expense.active == False %}
        <tr style="color: darkgrey; background-color: lightgrey;">
            {% else %}
        <tr>
            {% endif %}
            <!-- <td>{{ expense.active }}</td> -->
            <td>{{ expense.particulars }}</td>
            <td>{{ expense.amount|floatformat:2 }}</td>
            <td>{{ expense.currency }}</td>
            <td>{{ expense.monthly_impact|floatformat:2 }}</td>
            <td>{{ expense.yearly_impact|floatformat:2 }}</td>
            <!-- <td>{{ expense.amount_nzd|floatformat:2 }}</td> -->
            <td>{{ expense.period }}</td>

            <td>
                <a href="{% url 'recurring_expenses:edit' expense.id %}"><i class="bi bi-pencil"></i></a>
            </td>
            <td>
                <a href="{% url 'recurring_expenses:delete' expense.id %}"><i class="bi bi-x-circle"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>
{% endblock %}