<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    </style>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💸</text></svg>">
    <title>{% block title %}Money App{% endblock %}</title>

    <style>
        body {
            padding-bottom: 120px;
        }

        .footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <header>
        {% include "moneyapp/_nav.html" %}

        {% if messages %}
        {% for message in messages %}
        {% if 'error' in message.tags %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% if 'success' in message.tags %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% if 'info' in message.tags %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

    </header>


    <main>
        {% block content %}{% endblock %}
    </main>


    <footer class="fixed-bottom bg-white">
        <div class="container-md border-top">
            <p class="text-center">© 2023 Money App</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
            integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
            integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </footer>
</body>

</html>